<div class="container center">

    <div class="jumbotron">
        <h1>EAT DA BURGER!</h1>
        <p>Custom Burger Orders.</p>
        <br>
        <h2>Create a Burger or Burger Sandwich</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Add Your Burger!</label>
                    <input type="text" id="newburger" name="burger">
                    {{!-- <select data-placeholder="" id="newburger" name="burger">
                        <option value="Nothing Selected" selected>Please Select a Sandwich</option>
                        <option value="Hamburger">Hamburger</option>
                        <option value="CheeseBurger">CheeseBurger</option>
                        <option value="DoubleBfChz">Double Up (double meat and cheese)</option>
                        <option value="VeggieBurger">Veggie Burger</option>
                        <option value="PulledPork">Pulled Pork Sandwich</option>
                        <option value="ChichenClub">Chicken Club Sandwich</option>
                        <option value="SteaknChz">Steak and Cheese Sandwich</option>
                    </select> --}}

                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-plus"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Order Your Burger</strong>
                    <p>Click on the button to eat your burger!</p>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Burger Has Been Eaten!</strong>
                    <p>Yum Yum!</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
 


                </div>
            </div>
        </div>

    </div>
    <!--endrow -->
</div>